.collapsible {
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  z-index: 9;
  cursor: pointer;
}

.collapsible:after {
  content: "\02795";
  margin-left: 5px;
  float: right;
  font-size: 13px;
  color: white;
}

.active:after {
  content: "\2796";
}

.content {
  padding: 0 18px;
  width: 100%;
  max-height: 0;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
