main {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10px;
  font-family: "Josefin Slab", serif;
  font-size: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-form-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 50%;
  padding-left: 30px;
}

#subPage-input {
  width: 70%;
  height: 60%;
  padding: 13px 30px;
  background-color: rgba(166, 216, 28, 0.2);
  border: none;
  border-radius: 35px;
  font-size: 18px;
}

.sub-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}

.control-button-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 30px;
}

.hierarchy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.hierarchy-container > svg {
  width: 100%;
  margin-left: 50px;
}

.tag-info-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  right: 60px;
  width: 430px;
  border-radius: 5px;
  background-color: rgba(166, 216, 28, 0.2);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

ul {
  max-width: 400px;
  height: 100%;
  list-style: none;
}

li {
  display: flex;
  margin: 20px 0;
}

.tag-info-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 18px;
  width: 150px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.tag-info-box {
  display: block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  padding: 5px;
  border: solid 1.5px black;
  border-radius: 5px;
  background-color: white;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

summary {
  margin: 0;
  width: 150px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  cursor: pointer;
}

details > li {
  margin: 10px 20px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 400px;
  left: 400px;
}

.loader {
  display: none;
  height: 100px;
  width: 30%;
  margin: 0 auto 10px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

svg path,
svg rect {
  fill: rgba(167, 216, 28, 1);
}
