.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 8vh;
  padding: 2vmin;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 1vh;
  font-family: "Josefin Slab", serif;
  font-size: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2.5vw;
  margin-top: 4vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  height: 5vh;
  padding-left: 3vw;
}

input {
  width: 100%;
  padding: 10px; // vmin과 vw, vh, px이 전체적으로 혼합되어 있다는 인상입니다..!
  border: solid 3px rgba(167, 216, 28, 1);
  font-size: 20px;
}

.dom-tree-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.hierarchy-container {
  display: flex;
  justify-content: center;
  align-items: center; // flex-center class 같은 걸 하나 만들어서 계속 재사용해두는게 편할 것 같아요.. 워낙 많이 쓰이는 속성이라
}

.hierarchy-container > svg {
  width: 100%;
  height: 100%; //hierarchy-container의 자식 svg만 width height 100%를 주는 군요..!
}

.tag-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
  right: 60px;
  width: 500px;
  border-radius: 5px;
  background-color: rgba(166, 216, 28, 0.2);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  height: 100%;
}

li {
  display: flex;
  margin: 3vmin 0;
}

.tag-info-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 10px;
  width: 150px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.tag-info-box {
  display: flex;
  width: 200px;
  height: 30px;
  border: solid 1.5px black;
  border-radius: 5px;
  background-color: transparent;
}

.tag-info-box:active {
  background-color: white;
  color: black;
}

#tagName {
  font-size: 22px;
}
